/*-- scss:defaults --*/

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

// Colors
$dark-green: #858E79;
$light-green: #D1D9CE;
$cream: #E2CEB1;
$gray: #64605f;
$purple: #9158A2;
$orange: #ad7237;

$navbar-bg: $cream;
$navbar-fg: $gray;    

/*-- scss:rules --*/

.navbar-brand img { 
  max-height: 55px;
  width: auto;
}